.button {
  background-color: #63dafc;
  color: #292c35;
  font-size: 60px;
  border-radius: 20px;
  padding: 0px 20px;
  font-weight: bolder;
  border: none;
}
.button:active {
  background: #292c35;
  color: #63dafc;
}
.button:focus {
  outline: none;
}
.button:disabled {
  background-color: rgba(99, 218, 252, 0.3);
}
