.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: #292c35;
  /*padding-top: 10% ;*/
  min-height: 100vh;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
  margin: auto;
  border: #61dafb 3px solid;
  border-radius: 20px;
  font-size: 60px;
  padding: 25px;
  height: 350px;
}
.display {
  /* background-color: #63dafc;*/
  border: #61dafb 3px solid;
  padding: 50px;
  color: #61dafb;
  font-size: 70px;
  font-weight: bolder;
  border-radius: 20px;
  height: 150px;
}
.display-counter-with-value {
  border: #61dafb 3px solid;

  padding: 25px;
  font-size: 40px;

  color: #61dafb;

  font-weight: bolder;
  border-radius: 20px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display-counter-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  background-color: #63dafc;
  margin-top: 15px;
  color: #292c35;
  font-size: 60px;
  border-radius: 20px;
  padding: 0px 20px;
  font-weight: bolder;
  border: none;
}
button:active {
  background: #292c35;
  color: #63dafc;
}
button:focus {
  outline: none;
}

button:disabled {
  background-color: rgba(99, 218, 252, 0.3);
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  border: #61dafb 3px solid;
  border-radius: 20px;
  height: 100px;
}

.warning {
  color: rgb(255, 20, 78);
  font-size: 80px;
}
.error {
  color: rgb(255, 20, 78);
  font-size: 45px;
}
.inputError {
  border: 3px solid rgb(255, 20, 78);
  background-color: rgb(245, 65, 110);
}

.counterInput {
  width: 170px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
